{% extends "layout.html" %}

{% block body %}

<h2> Here are your Quests: </h2>

{% for hunter in all_hunters %}

<p>

Hunter Name: {{hunter.name}}
<br>
Hunter Rank: {{hunter.rank}}
<br>

{% for questlog in all_quests %}
{% if questlog.hunter_id == hunter.id %}

<br>
Hunter Quest Details:
<br>
Monster Hunted: {{questlog.monster}}
<br>
Weapon Used: {{questlog.weapon}}
<br>
Date Created: {{questlog.date_created}}
<br>

{% if questlog.completed == False %}
<a href = "{{ url_for('complete_task', completed=True, id=questlog.id) }}">Complete</a>
{% else %}
<a href = "{{ url_for('complete_task', completed=False, id=questlog.id) }}">Incomplete</a>
{% endif %}

<br><br>
</p>
{% endif %}
{% endfor %}

{% endfor %}



{% endblock body %}